<ion-header>
  <ion-toolbar>
    <ion-avatar slot=start>
    </ion-avatar>
    <div id="toolbar">
      <ion-title>
          Hap Ki Do
          <p>Baek Du San</p>
      </ion-title>
  </div>

  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-row >
      <ion-col>
        <div class="image-container fullwidth" style="margin-bottom: 30px;">
          <img style="width: 60%; height: 60%;" class='img-responsive' src="../assets/img/logo baek du san.png"/>
      </div>
      </ion-col>
    </ion-row>
    <ion-row style="font-size: 16px; text-transform: uppercase;">
      <ion-col>Access for the martial art student</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="contentrow">
          <p>Master: Iban Miranda</p>
        </div>
      </ion-col>
    </ion-row>
    <br/>
    <ion-row >
      <ion-col><ion-input style="border: 1px solid silver; border-radius: 10px;" placeholder="User Name"></ion-input></ion-col>
    </ion-row>
    <ion-row >
      <ion-col><ion-input style="border: 1px solid silver; border-radius: 10px;" type="password" placeholder="Password"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button  color="light" expand="block" >Login</ion-button></ion-col>
      <ion-col><ion-button color="medium" expand="block" fill="outline">Contact</ion-button></ion-col>
    </ion-row>
  </ion-content>